body{
    background-color: aqua;
    font-family: 'Lobster', cursive;
}
h1{
    color: #000000;
    font-size: 50px;
}
ul{
    font-style: italic;
    font-size: 20px;
}
p{
    font-size: 30px;
}
ol{
    font-size: 20px;
    line-height: 25px;

}
